* {
min-height: 0;
min-width: 0;
font-family: "JetBrainsMono Nerd Font";
font-size: 13px;
font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  /* background-color: #11111b; */
  /* background-color: rgba(24, 24, 37, 0.6); */
  background-color: rgba(0,0,0,0);

}

#workspaces button {
padding: 0.3rem 0.7rem;
margin: 0.4rem 0.2rem;
border-radius: 12px;
/* background-color: #181825; */
/* background-color: #1e1e2e; */
background-color: rgba(29, 29, 46, 0.8);
color: #cdd6f4;
}

#workspaces button:hover {
color: #7f849c;
background-color: #cdd6f4;
}

#workspaces button.active {
background-color: #1e1e2e;
color: #cba6f7;
}

#workspaces button.urgent {
background-color: #1e1e2e;
color: #f38ba8;
}

#clock,
#clock.simpleclock,
#pulseaudio,
#custom-power,
#custom-notification,
#tray,
#window,
#network,
#bluetooth,
#battery,
#backlight {
padding: 0.1rem 0.6rem;
margin: 0.4rem 0.2rem; 
border-radius: 12px;
background-color: rgba(29, 29, 46, 0.8);
min-width: 1rem;
}

#backlight {
  color:#b4befe;
}

window#waybar.empty #window {
  background-color: transparent;
}

#clock {
color: #f5c2e7;
}

#clock.simpleclock {
/* color: #cba6f7; */
color: #ffffff;
/* background-color: rgba(0,0,0,0); */
/* font-size: 15px; */
}

#window {
color: #cdd6f4;
}

#pulseaudio {
color: #89dceb;
}

#pulseaudio.muted {
color: #a6adc8;
}

#custom-notification {
color: #fab387;
}

#custom-power {
color: #f38ba8;
}

#network {
color: #f9e2af;
}

#network.disconnected {
color: #a6adc8;
}

#bluetooth {
color: #89b4fa;
}

#bluetooth.disabled {
color: #a6adc8;
}

#battery {
color: #a6e3a1;
}

#battery.charging, #battery.full {
color: #74c7ec;
}

#battery.warning {
color: #fab387;
}

#battery.critical {
color: #f38ba8; /* Red */
}
